
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "node_modules/font-awesome/scss/font-awesome.scss";

/*** Global ***/

html, body {
  height: 100%;
}

.display-none {
  display: none;
}

/*** Loader ***/

.mask {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
}

#loader {
  background: url(/img/loader.gif) no-repeat center;
  height: 32px;
  width: 32px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*** Home page ***/

#page-intro {
  width: 100%;
  height: 100%;
  min-height: 400px;
  position: relative;
}

#page-intro h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 63px;
  margin-top: 15px;
}

#page-intro p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 50px;
}

#page-intro .btn-action {
  padding: 14px 24px;
  font-size: 21px;
}

#intro-wrapper {
  width: 500px;
  height: 270px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro-wrapper .mega-octicon {
  font-size: 272px;
}

#intro-arrow-wrapper {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: 30px;
  left: 50%;
}

#intro-arrow-wrapper span.mega-octicon {
  font-size: 64px;
  color: #428bca;
}

#page-about {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-top: 10px #FCF8E3 solid;
  border-bottom: 10px #FCF8E3 solid;
  background-color: #fefdf7;
}

#page-about h2 {
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
  margin: 0 0 68px 0;
}

#page-about h3 {
  font-weight: 300;
  font-size: 26px;
  line-height: 26px;
  margin: 0 0 42px 0;
}

#page-about p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 42px 0;
}

#about-wrapper {
  padding: 90px 50px 48px 50px;
}

#page-contact {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  min-height: 300px;
  position: relative;
}

#page-contact h2 {
  font-weight: 300;
  font-size: 42px;
  line-height: 42px;
  margin: 0 0 42px 0;
}

#page-contact p {
  font-size: 26px;
  line-height: 42px;
}

#page-contact a {
  text-decoration: none;
}

#contact-wrapper {
  width: 500px;
  height: 170px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (min-width: 768px) {
  #page-about {
    width: 100%;
    height: 100%;
    min-height: 800px;
    position: relative;
  }

  #about-wrapper {
    padding: 0;
    width: 724px;
    height: 580px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #about-wrapper .col-sm-6 {
    padding-right: 21px;
    padding-left: 21px;
  }

  #page-about h2 {
    margin: 0 0 110px 0;
  }
}

/*** Gists ***/

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

.left-menu {
  position: fixed;
  width: 240px;
  height: 100%;
  float: left;
  padding: 20px 20px 0 20px;
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;
}

.main {
  padding-left: 240px;
  padding-top: 20px;
  padding-bottom: 13px;
}

.avatar {
  width: 64px;
}

.text-star {
  color: orange;
}
